.ExpIcon {
	width: 150px;
	text-align: center;
	margin-top: 10px;

}

.EduIcon {
	width: 150px;
	height: 105.83px;
	margin-top: 10px;
}

.ProIcon {
	width: 150px;
	height: 117px;
	text-align: center;
	margin-top: 50px;

}