body{ 
overflow-x :hidden; 
font-size: 18px;
height: 100%;

}

.App {
    height: 100%;
    background-color: #E0E7E9/*#dae9c6*/;
}

html {
    height: -webkit-fill-available;
    height: 100%;
}

h2 {
    font-family: "Amatic SC", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: clamp(3rem, 5vw, 4rem);
      color: #964734;
}

h3 {
    font-family: Arial (sans-serif) ;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    color: #030634;
}

/*@media (orientation: landscape) {

 body{ 
overflow-x :hidden;

}   



}*/